@using Vidly.ViewModels
@using Vidly.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>





@Html.ActionLink("Add", "Create", "Movies",new { @class = "btn btn-default btn-danger" })

<table class="table table-bordered table-bordered">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "EditMovies", "Movies", new { id = movie.Id }, null)</td>

                <td>@movie.Genre.GenreType</td>
            </tr>
        }
    </tbody>
</table>
